<%= form_for(@membership) do |f| %>
  <% if @membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
      <% @membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>


<section id="pricing-table">
  <div class="container">
    <div class="pricing">
      <% @membership_types.each do |membership_type| %>
          <%= form_for(@membership) do |f| %>
              <%= f.hidden_field :membership_type_id, :value => membership_type.id %>
              <%= f.hidden_field :user_id, :value => @user.id %>
              <%= f.hidden_field :space_id, :value => 1 %>
              <div class="span3 tiny ">
                <div class="pricing-table-header-tiny">
                  <h2>€ <%=membership_type.plan.price%>/mo</h2>
                  <h3><%=membership_type.name%></h3>
                </div>
                <div class="pricing-table-features">
                  <p><strong>€<%=Product.find(membership_type.product_id).price%>/h</strong></p>
                  <p><strong>Any</strong> space</p>
                  <p><strong>9am-6pm</strong> weekdays</p>
                </div>
                <div class="pricing-table-signup-tiny">
                  <%= f.submit "Sign Up", class: "membership_btn"%>
                </div>
              </div>
          <%end%>
      <%end%>
    </div>
  </div>
  </div>