<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Test</title>
</head>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<div>
  <div class="banner-white-content">
    <img alt="Brand" src="http://www.enklave.de/wp-content/uploads/2016/04/ENKLAVE-Coworking-Space-Berlin-Neuko%CC%88lln-Logo-black.png">
  </div>
</div>

<div class="main-content">

<%= render 'form' %>

<%= link_to 'Back', sign_up_path %>
