<%= form_for(@membership_type) do |f| %>
  <% if @membership_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@membership_type.errors.count, "error") %> prohibited this membership_type from being saved:</h2>

      <ul>
      <% @membership_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <table class="table table-hover">
        <tr>
            <td><%= f.label :name%></td>
            <td><%= f.label :plan_id%></td>
            <td><%= f.label :product_id%></td>
            <td></td>
        </tr>
        <tr>
          <div class="actions">
            <td><%= f.text_field :name%></td>
            <td>
            <%if @membership_type.plan_id.nil? %>
                <%= f.select(:plan_id, options_for_select(@plan.map {|p| [p.name, p.id]})) %>
            <%else%>
                <%= f.select(:plan_id, options_for_select(@plan.map {|p| [p.name, p.id]}, selected: @membership_type.plan_id)) %>
            <%end%>
            </td>
            <td>
            <%if @membership_type.product_id.nil? %>
                <%= f.select(:product_id, options_for_select(@membership_products.map {|p| [p.name, p.id]})) %>
            <%else%>
                <%= f.select(:product_id, options_for_select(@membership_products.map {|p| [p.name, p.id]}, selected: @membership_type.product_id))%>
            <%end%>
            </td>
            <td><%= f.submit %></td>
          </div>
        </tr>
      </table>
<% end %>


