<h1>Editing Membership Type</h1>
<%if @plan.nil? || @membership_products.nil?%>
    <ul>There are either no plans or no membership products. </ul>
    <ul>Please create at least one product (with product type set to membership), and one plan before creating a membership type.</ul>
<%else%>

    <%= render 'form' %>
<%end%>


<%= link_to 'Show', @membership_type %> |
<%= link_to 'Back', membership_types_path %>
