
<div class=“membership-type-container”>
  <h1> Listing Membership Types </h1>
    <table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
      <table class="table table-hover">
        <tr>
          <th>Membership Type</th>
          <th>Product name</th>
          <th>Plan name</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Destroy</th>
        </tr>
        <% @membership_types.each do |membership_type| %>
          <tr>
            <td>
              <%=membership_type.name%>
            </td>
            <td>
              <%unless membership_type.product_id.nil?%>
                  <%=membership_type.product.name%>
              <%end%>
            </td>
            <td>
              <%unless membership_type.plan_id.nil?%>
                  <%=Plan.find(membership_type.plan_id).name%>
              <%end%>
            </td>
            <td><%= link_to 'Show', membership_type %></td>
            <td><%= link_to 'Edit', edit_membership_type_path(membership_type) %></td>
            <td><%= link_to 'Destroy', membership_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </table>
      </tbody>
    </table>
        <p class="text-xs-center"><%= link_to 'New membership type', new_membership_type_path %></p>
    </table>
</div>