<div class="text-center">
    <h1>Editing Space</h1>

    <%= render 'form' %>

    <%= link_to 'Edit Products', space_space_products_path(@space) %> |
    <%= link_to 'Show', @space %> |
    <%= link_to 'Back', spaces_path %>
</div>
