<div class="text-center">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Space:</strong>
      <%= @space.name %>
    </p>

    <%= link_to 'Edit', edit_space_path(@space) %> |
    <%= link_to 'Back', spaces_path %>
</div>