<script src="https://cdn.auth0.com/js/lock/10.0/lock.min.js"></script>
<script type="text/javascript">
  var lock = new Auth0Lock('<%= Rails.application.secrets.auth0_client_id %>', '<%= Rails.application.secrets.auth0_domain %>', {
    allowSignUp: false,
    theme: {
      logo: "http://bq6qtu51.myraidbox.de/wp-content/uploads/2016/04/ENKLAVE-Coworking-Space-Berlin-Neuko%CC%88lln-Logo-black.png",
      primaryColor: "#F1FF00"
    },
    auth: {
  	    redirectUrl: 'http://localhost:3000/auth/auth0/callback', // use this in production  '<%= Rails.application.secrets.auth0_callback_url %>'
  	    responseType: 'code',
  	    params: {
  	    	scope: 'openid name email picture',
  	  	},
  	},
    languageDictionary: {
      title: "Log me in"
    },
  });
  function signin() {
  	lock.show();
  }
  signin()
</script>
