<div class='container'>
  <div class='header'>
    <h1> <%=@user.first_name%>, please enter your billing address details </h1>
    <div class="text-center">
      <div>
        <%= f.label :billing_address_line_1, 'Line 1'  %>
      </div>
      <div>
        <%= f.text_field :billing_address_line_1 %>
      </div>
      <div>
        <%= f.label :billing_address_city, 'City' %>
      </div>
      <div>
        <%= f.text_field :billing_address_city %>
      </div>
      <div>
        <%= f.label :billing_address_state, 'State' %>
      </div>
      <div>
        <%= f.text_field :billing_address_state %>
      </div>
      <div>
        <%= f.label :billing_address_zip, 'Zip' %>
      </div>
      <div>
        <%= f.text_field :billing_address_zip %>
      </div>
      <div>
        <%= f.label :billing_address_country, 'Country' %>
      </div>
      <div>
        <%= f.text_field :billing_address_country %>
      </div>
    </div>
  </div>
</div>
</div>