<div class='container'>
  <div class='header'>
    <h1> Confirmation </h1>
    <div class="text-center">
      <div>
        <div>
          <%= f.label :first_name, 'Line 1'  %>
        </div>
        <div>
          <%= f.text_field :first_name %>
        </div>
        <div>
          <%= f.label :last_name, 'City' %>
        </div>
        <div>
          <%= f.text_field :last_name %>
        </div>
        <div>
          <%= f.label :email, 'email address'  %>
        </div>
        <div>
          <%= f.text_field :email %>
        </div>
        <div>
          <%= f.label :billing_address_line_1, 'Line 1'  %>
        </div>
        <div>
          <%= f.text_field :billing_address_line_1 %>
        </div>
        <div>
          <%= f.label :billing_address_city, 'City' %>
        </div>
        <div>
          <%= f.text_field :billing_address_city %>
        </div>
        <div>
          <%= f.label :billing_address_state, 'State' %>
        </div>
        <div>
          <%= f.text_field :billing_address_state %>
        </div>
        <div>
          <%= f.label :billing_address_zip, 'Zip' %>
        </div>
        <div>
          <%= f.text_field :billing_address_zip %>
        </div>
        <div>
          <%= f.label :billing_address_country, 'Country' %>
        </div>
        <div>
          <%= f.text_field :billing_address_country %>
        </div>

        <div>
          <%= f.label :date_of_birth, 'Date of birth'  %>
        </div>
        <div>
          <%= f.text_field :date_of_birth %>
        </div>
        <div>
          <%= f.label :cell_phone, 'Cell phone number'  %>
        </div>
        <div>
          <%= f.text_field :cell_phone %>
        </div>
        <div>
          <%= f.label :vat_number, 'VAT number'  %>
        </div>
        <div>
          <%= f.text_field :vat_number %>
        </div>
    </div>
  </div>
</div>
</div>
