<div class='container'>
  <div class='header'>
    <h1> <%=@user.first_name%>, what's your date of birth? </h1>
    <div class="text-center">
      <div>
        <%= f.label :date_of_birth, 'Date of birth'  %>
      </div>
      <div>
        <%= f.text_field :date_of_birth %>
      </div>
    </div>
  </div>
</div>
</div>