<div class='container'>
  <div class='header'>
    <h1> <%=@user.first_name%>, please enter yout email address. </h1>
    <div class="text-center">
      <div>
        <%= f.label :email, 'email address'  %>
      </div>
      <div>
        <%= f.text_field :email %>
      </div>
    </div>
  </div>
</div>
</div>