<div class="main-content">

  <!-- REGISTRATION FORM -->
  <div class="text-center">
    <div class="logo">Sign Up</div>
    <!-- Main Form -->
    <div class="login-form-1">
      <form id="register-form" class="text-left">
        <div class="login-form-main-message"></div>
        <div class="main-login-form">
          <div class="login-group">
            <%= form_for @user do |f| %>
                <div class="form-group">
                  <%= f.label :first_name, class:"sr-only"%>
                  <%= f.text_field :first_name, class: "form-control", placeholder:"first name"  %><br />
                </div>

                <div class="form-group">
                  <%= f.label :last_name, class:"sr-only"%>
                  <%= f.text_field :last_name, class: "form-control", placeholder:"last name"  %><br />
                </div>
                <div class="form-group">
                  <%= f.label :email, class:"sr-only"%>
                  <%= f.text_field :email, class: "form-control", placeholder:"email"  %><br />
                </div>
                <div class="form-group">
                  <%= f.label :password, class:"sr-only"%>
                  <%= f.password_field :password, class: "form-control", placeholder:"password"  %><br />
                </div>

                <div class="actions">
                  <%= f.submit %>
                </div>
            <% end %>
          </div>
        </div>
        <div class="etc-login-form">
          <p>already have an account? <a href="#">login here</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
    <!-- end:Main Form -->