<div class='container'>
  <div class='header'>
    <h1> <%=@user.first_name%>, please enter your cell phone number </h1>
    <div class="text-center">
      <div>
        <%= f.label :cell_phone, 'Cell phone number'  %>
      </div>
      <div>
        <%= f.text_field :cell_phone %>
      </div>
    </div>
  </div>
</div>
</div>