<div class='container'>
  <div class='header'>
    <h1> <%=@user.first_name%>, please enter a four digit pin </h1>
    <div class="text-center">
      <div>
        <%= f.label :tablet_pin, 'Pin'  %>
      </div>
      <div>
        <%= f.text_field :tablet_pin %>
      </div>
    </div>
  </div>
</div>
</div>