<div class='container'>
  <div class='header'>
    <h1> <%=@user.first_name%>, please enter your VAT information </h1>
    <div class="text-center">
      <div>
        <%= f.label :vat_number, 'VAT number'  %>
      </div>
      <div>
        <%= f.text_field :vat_number %>
      </div>
    </div>
  </div>
</div>
</div>