<div class='container'>
  <div class='header header-actions'>
    <h2> Hi <%=  @user.first_name %>  what would you like to do or buy? </h2>
  </div>
  <div class='container-actions'>
    <% if @user.active_session.present? %>
        <%= link_to 'Check Out', checkout_user_work_session_path(@user, @user.active_session), class: 'btn btn-default btn-lg', method: :post  %>
    <% else %>
        <%= link_to 'Check In', new_user_work_session_path(@user), class: 'btn btn-default btn-lg' %>
    <% end %>
    <% @products.each do |p|  %>
        <% next unless Product.find(p.product_id).product_type == 'consumable'%>
        <%= link_to p.product.name,  new_user_purchase_path(@user, space_product_id: p.id),   class: 'btn btn-default btn-lg' %>
    <% end %>
  </div>
</div>


