

<div class='container'>
  <div class='header'>
    <%= form_for(@user, url: update_confirmation_user_path(@user)) do |f| %>
        <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <%= hidden_field_tag :step, @step %>
        <% case @step%>
        <%when 1%>
            <%= render partial: 'name_details', locals: {f: f}%>
        <%when 2%>
            <%= render partial: 'address_details', locals: {f: f}%>
        <%when 3%>
            <%= render partial: 'phone_details', locals: {f: f}%>
        <%when 4%>
            <%= render partial: 'dob_details', locals: {f: f}%>
        <%when 5%>
            <%= render partial: 'email_details', locals: {f: f}%>
        <%when 6%>
            <%= render partial: 'vat_details', locals: {f: f}%>
        <%when 7%>
            <%= render partial: 'pin_details', locals: {f: f}%>
        <%when 8%>
            <%= render partial: 'confirm_details', locals: {f: f}%>
        <%else%>
            <%= render partial: 'name_details', locals:{f: f}%>
        <%end%>
        <div class="text-center">
            <div class="container">
              <% case @step%>
              <%when 8%>
                  <div class="row top-buffer">
                    <%= f.submit 'Confirm'%>
                  </div>
              <%else%>
                  <div class="row top-buffer">
                    <%= f.submit 'Next'%>
                  </div>
              <%end%>
              <div class="row top-buffer">
                <%= link_to 'Back', users_path %>
              </div>
        </div>
    <%end%>

    </div>
</div>