<div class="text-center">
<h1>Editing account details for <%=@user.first_name %>. </h1>



        </div>

    <% end %>



    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_path%>

</div>


