<section id="pricing-table">
  <div class="container">
      <div class="pricing">
        <% @membership_types.each do |membership_type| %>
            <div class="span3 tiny ">
              <div class="pricing-table-header-tiny">
                <h2>€ <%=Plan.find(membership_type.plan_id).price%>/mo</h2>
                <h3><%=membership_type.name%></h3>
              </div>
              <div class="pricing-table-features">
                <p><strong>€<%=Product.find(membership_type.product_id).price%>/h</strong></p>
                <p><strong>Any</strong> space</p>
                <p><strong>9am-6pm</strong> weekdays</p>
              </div>
              <div class="pricing-table-signup-tiny">
                <p><a href="#">Sign Up</a></p>
              </div>
            </div>
        <%end%>
      </div>
  </div>
</div>