<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Test</title>
</head>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<div>
  <div class="banner-white-content">
    <img alt="Brand" src="http://www.enklave.de/wp-content/uploads/2016/04/ENKLAVE-Coworking-Space-Berlin-Neuko%CC%88lln-Logo-black.png">
  </div>
</div>

<div class="main-content">

  <!-- REGISTRATION FORM -->
  <div class="text-center">
    <div class="logo">Enter a 4 digit PIN</div>
    <!-- Main Form -->
    <div class="login-form-1">
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
        <div class="login-group">
          <%= form_for @user, :url => { :action => "update_pin"} do |f| %>
            <%= render partial: 'shared/pinpad' %>
          <%end%>
        </div>
      </div>
      <div class="etc-login-form">
        <p>This will be used for checking in, out, and purchasing products. </p>
      </div>
      </div>
    </div>
  </div>
</div>



