<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<div>
  <div class="banner-white-content">
    <img alt="Brand" src="http://www.enklave.de/wp-content/uploads/2016/04/ENKLAVE-Coworking-Space-Berlin-Neuko%CC%88lln-Logo-black.png">
  </div>
</div>

<div class="main-content">
  <div class="text-center">
    <div class="logo">Sign Up</div>
    <div class="login-form-1">
        <div class="login-form-main-message"></div>
        <div class="main-login-form">
          <div class="login-group">
            <%= form_for @user , :url => {:action => "create"} do |f| %>
                <div class="form-group">
                  <%= f.label :first_name, class:"sr-only"%>
                  <%= f.text_field :first_name, class: "form-control", placeholder:"first name"  %><br />
                </div>
                <div class="form-group">
                  <%= f.label :last_name, class:"sr-only"%>
                  <%= f.text_field :last_name, class: "form-control", placeholder:"last name"  %><br />
                </div>
                <div class="form-group">
                  <%= f.label :email, class:"sr-only"%>
                  <%= f.text_field :email, class: "form-control", placeholder:"email"  %><br />
                </div>
                <div class="form-group">
                  <%= f.label :password, class:"sr-only"%>
                  <%= f.password_field :password, class: "form-control", placeholder:"password"  %><br />
                </div>
                <%= button_tag(type: 'submit', class: "login-button") do %>
                    <i class="fa fa-chevron-right"></i>
                <% end %>
            <% end %>
          </div>
        </div>
        <div class="etc-login-form">
          <p>already have an account? <a href="#">login here</a></p>
        </div>
    </div>
  </div>
</div>
</div>

