<div class='container'>
  <div class='header'>
      <h1> Welcome to Enklave! </h1>
      <h2> Who's there? </h2>
      <div class='container-users'>
          <% @users.each do |u| %>
            <%= link_to u.first_name, actions_user_path(u), class: 'btn btn-default btn-lg' %>
          <% end %>
      </div>
  </div>
</div>


