
<div class="text-center">

<h1>Listing products associated to <%=@space.name%></h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Product</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @associated_products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h1>Unassociated Products</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Product name</th>

    <th colspan="1"></th>
  </tr>
  </thead>
  <tbody>
  <% @non_associated_products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= link_to 'Add to space', space_space_products_path(@space, product_id: product.id), method: :post %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
</div>