
<h1>Listing purchases for <%=@user.first_name%></h1>


<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>


    <% @purchases.each do |purchase| %>

      <tr>

        <td><%= link_to 'Show', purchase %></td>
        <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
        <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h1>Products available for <%=@user.first_name%> to purchase at <%=@space.name%> </h1>

<table class="products-table">
  <thead>
  <tr>
    <th>Product</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @all_space_products.each do |space_product| %>
      <tr>
        <td><%= space_product.id %></td>
        <td><%= Product.find(space_product.product_id).name %></td>
        <td><%= link_to 'Add purchase', user_purchases_path(@user, space_product_id: space_product.id), method: :post %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Purchase', new_purchase_path %>
