<div class='container'>
  <div class='header header-actions'>
    <h2> So, <%=  @space_product.product.name %>  for <%= @user.first_name %> </h2>
  </div>
   <div class='container-actions'>
  	<%= link_to 'Yes', user_purchases_path(@user, space_product_id: @space_product.id) , class: 'btn btn-default btn-lg', method: :post %>
    	<%= link_to 'No', '/tablet', class: 'btn btn-default btn-lg' %>
  </div>
</div>


