<p id="notice"><%= notice %></p>
<h1 class="text-center">Thank you!</h1>
<div class="text-center">

  <h1 class="center"><%= link_to 'Back to members page', tablet_path, class: 'btn btn--hl btn--full' %></h1>

</div>