<p id="notice"><%= notice %></p>
<table class="purchases-table">
  <tr>
    <td><%= @product.name %></td>
    <td><%= @user.first_name %></td>
  </tr>
  <tr>
    <td><%= link_to 'Edit', edit_purchase_path(@purchase) %> |
    <%= link_to 'Back', user_purchases_path(@user) %></td>
  </tr>
</table>