<input id='PINbox' type='password' name='user[tablet_pin]' />
    <br/>
    <input type='button' class='PINbutton PINPad' name='1' value='1' id='1'/>
    <input type='button' class='PINbutton PINPad' name='2' value='2' id='2'/>
    <input type='button' class='PINbutton PINPad' name='3' value='3' id='3'/>
    <br/>
    <input type='button' class='PINbutton PINPad' name='4' value='4' id='4'/>
    <input type='button' class='PINbutton PINPad' name='5' value='5' id='5'/>
    <input type='button' class='PINbutton PINPad' name='6' value='6' id='6'/>
    <br/>
    <input type='button' class='PINbutton PINPad' name='7' value='7' id='7'/>
    <input type='button' class='PINbutton PINPad' name='8' value='8' id='8'/>
    <input type='button' class='PINbutton PINPad' name='9' value='9' id='9'/>
    <br/>
    <input id='PINClear' type='button' class='PINbutton' name='-' value='clear' id='-'/>
    <input type='button' class='PINbutton PINPad' name='0' value='0' id='0' />
 <input id='PINSubmit' type='submit' class='PINbutton' name='+' value='enter' id='+'/>
