<p id="notice"><%= notice %></p>

<h1>Listing sessions for <%= @user.first_name%>  <%= @user.last_name%> </h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_sessions.each do |work_session| %>
      <tr>
        <td><%= work_session.start_time %></td>
        <td><%= work_session.end_time %></td>
        <td><%= work_session.user_id %></td>
        <td><%= link_to 'Show', work_session %></td>
        <td><%= link_to 'Edit', edit_work_session_path(work_session) %></td>
        <td><%= link_to 'Destroy', work_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session', new_session_path %>
