<div class='container'>
  <div class='header'>
    <h2> So, Check In for <%= @user.first_name %> ? </h2>
  </div>
   <div class='container-actions'>
      <%= link_to 'Yes', checkin_user_work_sessions_path(@user) , class: 'btn btn-default btn-lg', method: :post %>
      <%= link_to 'No', '/tablet', class: 'btn btn-default btn-lg' %>
  </div>
</div>
