<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @work_session.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @work_session.end_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @work_session.user_id %>
</p>

<%= link_to 'Edit', edit_work_session_path(@work_session) %> |
<%= link_to 'Back', work_sessions_path %>
