// Place all the styles related to the membership_types controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.membership_type_container {
  h1 {
    text-align: center;
  }
}