/*Font Loded*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body{
    background: url(../images/bg.jpg);
}

.btn-custom {
    color: #bdc3c7;
    font-size: 18px;
    border: 1px solid #bdc3c7;
}
.btn-custom:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
}
#pricing-table {
    padding-top: 50px;
}
#pricing-table .pricing {
    marign: 0;
    padding: 0;
    font-family: 'Robot', sans-serif;
}
#pricing-table .pricing .pricing-table {
    padding-bottom: 30px;
}
#pricing-table .pricing .pricing-table .pricing-header {
    position: relative;
    background: #3b5d90;
    padding: 22px 22px;
    text-align: center;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-title {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    position: relative;
    text-align: center;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate sup {
    font-size: 24px;
    position: relative;
    top: -10px;
    color: #bdc3c7;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate span {
    font-size: 16px;
    color: #bdc3c7;
    text-transform: uppercase;
}
#pricing-table .pricing .pricing-list {
    padding: 20px 0 40px 0;
    background: #ffffff;
    border: 1px solid #e3e3e3;
}
#pricing-table .pricing .pricing-list ul {
    padding: 20px;
    display: table;
    margin: 0px auto;
}
#pricing-table .pricing .pricing-list ul li {
    list-style: none;
    border-bottom: 1px solid #EAECEB;
    color: #bdc3c7;
    font-size: 16px;
    line-height: 42px;
}
#pricing-table .pricing .pricing-list ul li:last-child {
    border: none;
}
#pricing-table .pricing .pricing-list ul li i {
    margin-right: 12px;
    color: #bdc3c7;
}
#pricing-table .pricing .pricing-list ul li span {
    color: #34495e;
}
