<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="text-center">
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
        <div class="field">
          <%= f.label 'Product Type' %><br>
          <% if (@product.product_type.nil?) %>
              <%= f.select(:product_type, options_for_select(Product.product_types.keys.map {|product_type| [product_type.capitalize, product_type]}.insert(0, ""))) %>
          <% else%>
              <%= f.select(:product_type, options_for_select(Product.product_types.keys.map {|product_type| [product_type.capitalize, product_type]}, selected: @product.product_type)) %>
          <% end%>
        </div>
      <div>
          <p>
            <%= f.label :price %><br>
            <%= f.text_field :price, data: { role: 'money', a_sep: '.', a_dec: ',' } %>
          </p>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
<% end %>
