

<p>
  <strong>Product:</strong>
  <%= @product.id %>
  <%= @product.name %>
</p>
<p>
  <strong>Product Type:</strong>
  <%= @product.product_type %>
</p>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
