

<div class="text-center">
  <h1>Hi <%= @member[:name] %>, what would you like to do?</h1>
  <% @tablet_products.each_slice(3) do |products| %>
      <p class="row">
        <% products.each do |product| %>

          <div class="col-md-4">
            <%= button_to product[:name], push_cobot_purchase_purchases_path('etest'), params: product.merge(:membership_id => @member[:id]).as_json, class: 'btn btn-primary btn-lg'%>

          </div>
      <%end%>
      </p>
  <% end %>
</div>