

<div class="text-center">
  <h1>Hi <%= @member[:'first_name'] %>, what would you like to do?</h1>
    <% @chargebee_tablet_products.each_slice(11) do |entrys| %>
      <p class="row">
        <% entrys.each do |entry| %>
          <div class="col-md-3">
            <%= button_to entry.addon.name, push_chargebee_purchases_path, params: entry.addon.as_json.merge(@member[:'id']),class: 'btn btn-primary btn-lg'%>
          </div>
        <%end%>
      </p>
    <% end %>
</div>