<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="text-center">
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :invoice_name %><br>
        <%= f.text_field :invoice_name %>
      </div>

      <div class="field">
        <%= f.label :price %><br>
        <%= f.text_field :price, data: { role: 'money', a_sep: '.', a_dec: ',' } %>
      </div>


      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
<% end %>


