
<div class="text-center">
  <h1>Listing Plans</h1>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Invoice name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Period unit</th>
      <th>Trial period</th>
      <th>Trial period unit</th>
      <th>Charge model</th>
      <th>Redirect url</th>
      <th>Tax code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.name %></td>
        <td><%= plan.invoice_name %></td>
        <td><%= plan.description %></td>
        <td><%= plan.price %></td>
        <td><%= plan.period_unit %></td>
        <td><%= plan.trial_period %></td>
        <td><%= plan.trial_period_unit %></td>
        <td><%= plan.charge_model %></td>
        <td><%= plan.redirect_url %></td>
        <td><%= plan.tax_code %></td>
        <td><%= link_to 'Show', plan %></td>
        <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
        <td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="text-center">
  <p class="text-xs-center"><%= link_to 'New Plan', new_plan_path %></p>
</div>
