

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Invoice name:</strong>
  <%= @plan.invoice_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plan.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @plan.price %>
</p>

<p>
  <strong>Period unit:</strong>
  <%= @plan.period_unit %>
</p>

<p>
  <strong>Trial period:</strong>
  <%= @plan.trial_period %>
</p>

<p>
  <strong>Trial period unit:</strong>
  <%= @plan.trial_period_unit %>
</p>

<p>
  <strong>Charge model:</strong>
  <%= @plan.charge_model %>
</p>

<p>
  <strong>Redirect url:</strong>
  <%= @plan.redirect_url %>
</p>

<p>
  <strong>Tax code:</strong>
  <%= @plan.tax_code %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
